---

---

<footer>
  <div
    class="container | stack"
    data-type="narrow"
    style="--stack-spacer: 3rem;">
    <div class="main-footer-content | grid grid-auto-fit center">
      <div class="socials | flex flex-center-y">
        <a
          href="https://www.facebook.com/Aquaduks/"
          target="_blank"
          rel="noopener"
          aria-label="Link to the Facebook page of Aqua Duks Swim School in Anaheim, California.">
          <svg
            id="facebook-logo"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15_423)">
              <path
                d="M21 10.5C21 4.70106 16.2989 0 10.5 0C4.70106 0 0 4.70106 0 10.5C0 15.4241 3.39024 19.556 7.96362 20.6909V13.7088H5.79852V10.5H7.96362V9.11736C7.96362 5.54358 9.58104 3.8871 13.0897 3.8871C13.755 3.8871 14.9029 4.01772 15.3724 4.14792V7.05642C15.1246 7.03038 14.6941 7.01736 14.1595 7.01736C12.4379 7.01736 11.7726 7.66962 11.7726 9.36516V10.5H15.2023L14.6131 13.7088H11.7726V20.9231C16.9718 20.2952 21.0004 15.8684 21.0004 10.5H21Z"
                fill="currentColor"></path>
            </g>
            <defs>
              <clipPath id="clip0_15_423">
                <rect width="21" height="21" fill="currentColor"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
        <a
          href="https://www.yelp.com/biz/aqua-duks-swim-school-anaheim"
          target="_blank"
          rel="noopener"
          aria-label="Link to the Yelp page of Aqua Duks Swim School in Anaheim, California.">
          <svg
            id="yelp-logo"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.9477 6.266C16.703 6.89057 18.7749 8.60374 18.4373 9.8064C18.2812 10.3465 17.6608 10.5195 17.2009 10.6883C16.1417 11.0723 15.053 11.3761 13.9474 11.5998C13.0527 11.7812 11.1412 12.1778 11.4956 10.5954C11.6348 9.98353 12.1286 9.46446 12.5253 9.0045C13.3397 8.04665 14.1711 7.03383 15.1543 6.24896C15.2344 6.18562 15.3315 6.16877 15.4159 6.18148C15.5805 6.11409 15.7788 6.12256 15.9477 6.266Z"
              fill="currentColor"></path>
            <path
              d="M14.8336 18.8917C14.1711 18.3558 13.7027 17.516 13.2976 16.7818C12.9008 16.0729 12.2764 15.136 12.1709 14.3133C11.9557 12.6211 14.4073 13.6381 15.1121 13.8828C16.0489 14.212 18.5597 14.5749 18.2812 16.0391C18.0491 17.2333 16.6101 18.6892 15.4075 18.8749C15.3949 18.8791 15.378 18.8749 15.3611 18.8749C15.3569 18.8791 15.3527 18.8833 15.3485 18.8875C15.3147 18.9043 15.2768 18.9255 15.2388 18.9423C15.0952 19.0184 14.956 18.9888 14.8336 18.8917Z"
              fill="currentColor"></path>
            <path
              d="M9.3521 14.5369C10.6856 13.9841 10.8079 15.4736 10.7995 16.3767C10.7869 17.4528 10.7531 18.533 10.6729 19.6048C10.6433 20.0395 10.6603 20.5628 10.2467 20.8371C9.73611 21.1747 8.75294 20.9088 8.2254 20.7442C8.20855 20.7358 8.19161 20.7274 8.17476 20.7232C7.065 20.5291 5.71043 20.0185 5.5796 18.9931C5.5669 18.8749 5.61339 18.7694 5.68511 18.6892C5.7189 18.6259 5.7526 18.5669 5.79062 18.512C5.95523 18.2841 6.14507 18.0816 6.33501 17.8748C6.65567 17.398 7.00175 16.9381 7.36882 16.4949C7.9005 15.8535 8.55454 14.866 9.3521 14.5369Z"
              fill="currentColor"></path>
            <path
              d="M9.54622 9.91192C7.60087 8.31264 5.70615 5.83561 4.72711 3.54426C3.98018 1.80145 5.87914 0.73809 7.34336 0.257044C9.31827 -0.39285 10.1031 0.17262 10.3014 2.14753C10.4661 3.84808 10.542 5.56134 10.5293 7.27036C10.5251 7.99198 10.7276 9.15661 10.3057 9.80651C10.3732 10.0724 9.9723 10.2622 9.74444 10.0808C9.71065 10.0555 9.67696 10.0217 9.63893 9.99211C9.60524 9.97103 9.57568 9.94571 9.54622 9.91192Z"
              fill="currentColor"></path>
            <path
              d="M9.33523 12.389C9.49138 13.081 9.00186 13.3595 8.42801 13.6212C7.40682 14.0812 6.33498 14.4483 5.25891 14.7521C4.63434 14.9251 3.67648 15.3387 3.07308 14.8787C2.61735 14.5327 2.5878 13.8111 2.54563 13.2878C2.45283 12.119 2.63006 9.32963 4.25042 9.21151C5.04376 9.15663 6.0354 9.86554 6.68529 10.2369C7.55035 10.7349 8.47874 11.3045 9.12431 12.0853C9.22126 12.14 9.30145 12.2371 9.33523 12.389Z"
              fill="currentColor"></path>
          </svg>
        </a>
        <a
          href="https://www.instagram.com/aquaduksswim/?hl=en"
          target="_blank"
          rel="noopener"
          aria-label="Link to the Instagram page of Aqua Duks Swim School in Anaheim, California.">
          <svg
            id="instagram-logo"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15_418)">
              <path
                d="M10.5 1.89082C13.3055 1.89082 13.6377 1.90312 14.741 1.95234C15.7664 1.99746 16.3201 2.16973 16.6893 2.31328C17.1773 2.50195 17.5301 2.73164 17.8951 3.09668C18.2643 3.46582 18.4898 3.81445 18.6785 4.30254C18.8221 4.67168 18.9943 5.22949 19.0395 6.25078C19.0887 7.3582 19.101 7.69043 19.101 10.4918C19.101 13.2973 19.0887 13.6295 19.0395 14.7328C18.9943 15.7582 18.8221 16.3119 18.6785 16.6811C18.4898 17.1691 18.2602 17.5219 17.8951 17.8869C17.526 18.2561 17.1773 18.4816 16.6893 18.6703C16.3201 18.8139 15.7623 18.9861 14.741 19.0312C13.6336 19.0805 13.3014 19.0928 10.5 19.0928C7.69453 19.0928 7.36231 19.0805 6.25899 19.0312C5.23359 18.9861 4.67988 18.8139 4.31074 18.6703C3.82266 18.4816 3.46992 18.252 3.10488 17.8869C2.73574 17.5178 2.51016 17.1691 2.32148 16.6811C2.17793 16.3119 2.00566 15.7541 1.96055 14.7328C1.91133 13.6254 1.89902 13.2932 1.89902 10.4918C1.89902 7.68633 1.91133 7.3541 1.96055 6.25078C2.00566 5.22539 2.17793 4.67168 2.32148 4.30254C2.51016 3.81445 2.73984 3.46172 3.10488 3.09668C3.47402 2.72754 3.82266 2.50195 4.31074 2.31328C4.67988 2.16973 5.2377 1.99746 6.25899 1.95234C7.36231 1.90312 7.69453 1.89082 10.5 1.89082ZM10.5 0C7.64942 0 7.29258 0.0123047 6.17285 0.0615234C5.05723 0.110742 4.29024 0.291211 3.62578 0.549609C2.93262 0.820312 2.34609 1.17715 1.76367 1.76367C1.17715 2.34609 0.820313 2.93262 0.549609 3.62168C0.291211 4.29023 0.110742 5.05312 0.0615234 6.16875C0.0123047 7.29258 0 7.64941 0 10.5C0 13.3506 0.0123047 13.7074 0.0615234 14.8271C0.110742 15.9428 0.291211 16.7098 0.549609 17.3742C0.820313 18.0674 1.17715 18.6539 1.76367 19.2363C2.34609 19.8188 2.93262 20.1797 3.62168 20.4463C4.29024 20.7047 5.05313 20.8852 6.16875 20.9344C7.28848 20.9836 7.64531 20.9959 10.4959 20.9959C13.3465 20.9959 13.7033 20.9836 14.823 20.9344C15.9387 20.8852 16.7057 20.7047 17.3701 20.4463C18.0592 20.1797 18.6457 19.8188 19.2281 19.2363C19.8105 18.6539 20.1715 18.0674 20.4381 17.3783C20.6965 16.7098 20.877 15.9469 20.9262 14.8313C20.9754 13.7115 20.9877 13.3547 20.9877 10.5041C20.9877 7.65352 20.9754 7.29668 20.9262 6.17695C20.877 5.06133 20.6965 4.29434 20.4381 3.62988C20.1797 2.93262 19.8229 2.34609 19.2363 1.76367C18.6539 1.18125 18.0674 0.820312 17.3783 0.553711C16.7098 0.295312 15.9469 0.114844 14.8313 0.065625C13.7074 0.0123047 13.3506 0 10.5 0Z"
                fill="currentColor"></path>
              <path
                d="M10.5 5.10645C7.52227 5.10645 5.10645 7.52227 5.10645 10.5C5.10645 13.4777 7.52227 15.8936 10.5 15.8936C13.4777 15.8936 15.8936 13.4777 15.8936 10.5C15.8936 7.52227 13.4777 5.10645 10.5 5.10645ZM10.5 13.9986C8.56816 13.9986 7.00137 12.4318 7.00137 10.5C7.00137 8.56816 8.56816 7.00137 10.5 7.00137C12.4318 7.00137 13.9986 8.56816 13.9986 10.5C13.9986 12.4318 12.4318 13.9986 10.5 13.9986Z"
                fill="currentColor"></path>
              <path
                d="M17.366 4.89322C17.366 5.59048 16.8 6.1524 16.1068 6.1524C15.4096 6.1524 14.8477 5.58638 14.8477 4.89322C14.8477 4.19595 15.4137 3.63403 16.1068 3.63403C16.8 3.63403 17.366 4.20005 17.366 4.89322Z"
                fill="currentColor"></path>
            </g>
          </svg>
        </a>
      </div>
      <address class="flex flex-column flex-center-x">
        <a
          href="https://www.google.com/maps/place/Aqua+Duks+Swim+School/@33.8571752,-117.7717332,959m/data=!3m3!1e3!4b1!5s0x80dcd1b3205159b9:0x3e51715f80299226!4m6!3m5!1s0x80dcd0133fc0a1a1:0x373e27972718ecc6!8m2!3d33.8571752!4d-117.7691529!16s%2Fg%2F1tlc8c93?entry=ttu&g_ep=EgoyMDI1MDcyNy4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          rel="noopener">160 S. Fairmont Blvd.<br />Anaheim 92808</a
        >
        <a href="tel:+1-714-637-7090">+1 (714) 637-7090</a>
        <a href="mailto:swim@aquaduks.com">swim@aquaduks.com</a>
      </address>
    </div>
    <nav class="links | flex mx-auto flex-around">
      <a href="#">Enroll now</a>
      <a href="/about">About</a>
      <a href="/programs">Programs</a>
      <a href="#">Blog</a>
      <a href="#">FAQ</a>
      <a href="#">Contact Us</a>
      <a href="#">Careers</a>
    </nav>
  </div>
  <div class="legal | flex flex-row">
    <p>&copy; 2025 Aquaduks Swim School. All rights reserved.</p>
    <p>Website by <a href="sandlotstudio.com">Sandlot Studio</a></p>
    <nav class="legal-links">
      <ul class="flex flex-row">
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/terms">Terms of Service</a></li>
      </ul>
    </nav>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  @include mq(medium, max) {
    .main-footer-content {
      grid-template-columns: 1fr;
    }
  }

  footer {
    background-color: $aquaduks-blue;
    color: clr(neutral, 100);
    padding: size("16-48");
    padding-top: size(48);
    padding-bottom: 0.5rem;
    text-align: center;
    position: relative;
  }

  .logo {
    width: clamp(150px, 22vw, 200px);
    margin: 0;
  }

  .socials {
    height: fit-content;
  }

  .partner-logos {
    margin-block-start: 1rem;
    margin-inline: auto;
    height: size(48);
    gap: size("24-48");

    @include mq(small, max) {
      height: auto;
      max-width: 270px;
      flex-direction: row;
    }
  }

  .partner-logo {
    max-height: 100%;
    height: 25vw;

    img {
      height: 100%;
      width: auto;
    }
  }

  svg {
    width: size(32);
    color: clr(neutral, 100);
    transition: 300ms;

    &:hover,
    &:focus {
      color: $aquaduks-orange;
    }
  }

  a {
    transition: 300ms;
  }

  .links {
    gap: size("16-24");
    &a {
      font-weight: 450;
    }
  }

  a:hover,
  a:focus {
    color: $aquaduks-orange;
  }

  .legal {
    margin: 2rem auto 0;
    font-size: 14px;
    column-gap: 1rem;
    row-gap: 0rem;
  }
</style>
