@font-face {
  font-family: "Abril Fatface";
  font-display: swap;
  src:
    url("/fonts/AbrilFatface-Regular.woff2") format("woff2"),
    url("/fonts/AbrilFatface-Regular.woff") format("woff");
}

@font-face {
  font-family: "Arimo";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Arimo-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Arimo-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Arimo";
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
  src:
    url("/fonts/Arimo-Italic-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/Arimo-Italic-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Trocchi";
  font-display: swap;
  src:
    url("/fonts/Trocchi-Regular.woff2") format("woff2"),
    url("/fonts/Trocchi-Regular.woff") format("woff");
}
